.planet-card {
    background-color: #1f1f1f;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    padding: 20px;
    margin: 20px;
    width: calc(33.33% - 40px);
    /* Adjust according to the number of columns */
    max-width: 300px;
    /* Set maximum width */
    display: inline-block;
    vertical-align: top;
    color: #fff;
    transition: transform 0.3s ease-in-out;
}

.planet-card:hover {
    transform: translateY(-5px);
}

.planet-info {
    margin-bottom: 20px;
}

.planet-name {
    font-size: 24px;
    margin-bottom: 10px;
}

.residents {
    border-top: 1px solid #777;
    padding-top: 20px;
}

.resident-list {
    list-style-type: none;
    padding: 0;
}

.resident-list li {
    margin-bottom: 15px;
}

.resident-list h4 {
    margin-bottom: 5px;
    color: #ccc;
}

.pagination {
    margin-top: 20px;
}

.pagination button {
    background-color: #444;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin-right: 10px;
    cursor: pointer;
}

.pagination button:hover {
    background-color: #666;
}

/* Responsive styles */
@media only screen and (max-width: 768px) {
    .planet-card {
        width: 100%;
        /* Full width on smaller screens */
        max-width: none;
        /* No maximum width */
    }
}
/* Styling for the residents modal */
.residents-modal {
    background-color: #333;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    padding: 20px;
    margin-top: 20px;
    color: #fff;
    /* Text color */
}

/* Styling for each resident card */
.resident-card {
    background-color: #1f1f1f;
    /* Darker background color */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
    color: #fff;
    /* Text color */
}

/* Styling for the planet cards */
.planet-card {
    background-color: #1f1f1f;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    padding: 20px;
    margin: 20px;
    width: calc(33.33% - 40px);
    max-width: 300px;
    display: inline-block;
    vertical-align: top;
    color: #fff;
    transition: transform 0.3s ease-in-out;
}

/* Hover effect for planet cards */
.planet-card:hover {
    transform: translateY(-5px);
}

/* Media query for tablet-sized screens */
@media (max-width: 768px) {
    .planet-card {
        width: calc(50% - 40px);
    }
}

/* Media query for mobile-sized screens */
@media (max-width: 576px) {
    .planet-card {
        width: calc(100% - 40px);
    }
}